@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

.poke-container {
  margin: 0 60px 0 60px;
  /* background: rgba(99, 99, 99, 0.715); */
}
.pokeInfoImg {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}

.pokeImg {
  width: 35%;
}
.pokePanier,
.pokeIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.303);
  border: 1px solid black;
  margin: 5px;
  border-radius: 25px;
}
.pokePanier a,
.pokeIndex a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
}
.pokeImg img {
  width: 100%;
  height: 100%;
  padding: 45px;
  background-color: rgba(255, 255, 255, 0.303);
  border-radius: 20px;
}

.pokeInfo {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
}
.pokeInfoMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  font-size: 1.2rem;
  padding: 1rem;
}
.pokeInfoSprite {
  padding-top: 15px;
  display: flex;
}
.pokeInfoStatsTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.pokeInfoStats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.303);
  border-bottom: 2px solid rgb(255, 0, 0);
}
.footer {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #616161;
  margin-top: 1rem;
}
.title-container {
  background: transparent
    url(https://assets.pokemon.com/static2/_ui/img/chrome/body_gray_bg.png);
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: center;
}
.name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
}
.sprite {
  width: 400px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.sprite img {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}
.infoStats {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.description {
  margin: 1rem;
  font-size: 1.2rem;
}
.pokeInfoButton {
  border: black 2px solid;
  padding: 1rem;
  border-radius: 50px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 50%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem;
  cursor: pointer;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
  animation-duration: 1s;
}

@media (max-width: 700px) {
  .pokeInfoImg {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
  }
  .pokeImg {
    width: 50%;
  }

  .pokeInfoSprite {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

}
@media (max-width: 540px) {

  .pokeInfoMain{
    grid-template-columns: 1fr;
  }

  .sprite{
    width: 250px;
  }

  .pokeImg img{
    padding: 10px;
  }
} 